AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: true
AlwaysBreakAfterReturnType: TopLevelDefinitions
BasedOnStyle: WebKit
BreakBeforeBraces: Attach
PointerAlignment: Right
TabWidth: 4
UseTab: Always
