:root {
	--screen-width: 640px;
}

/* Sizing and focus */

* {
	box-sizing: border-box;
}

:focus {
	outline: 0.25em solid #007e00;
	outline-offset: 0.15em;
}

button {
	font-size: inherit;
}

/* Page layout */

.flexy {
	display: flex;
}

.flexy-column {
	flex-direction: column;
}

.flexy-grow {
	flex-grow: 1;
}

.spacer > * {
	margin-left: 1em;
}

.limit-child-widths > * {
	max-width: var(--screen-width);
}

/* Headings */

h1 {
	text-align: center;
	margin: 0.25em;
}

.header-small {
	font-size: 0.75em;
	color: #767676;
}

key, #proxy-ui {
	border: 1px solid black;
	background: #eee;
}

key {
	border-radius: 0.25em;
	padding: 0.15em;
}

/* Main areas */

#canvas {
	width: var(--screen-width);
	height: 480px;
	margin: auto;
	background-color: #00009d;
}

#proxy-ui {
	padding: 1em;
}

#canvas, #proxy-ui {
	border-radius: 0.5em;
}

/* Widget layout */

.widget-wrapper {
	padding-bottom: 0.5em;
}

.widget-wrapper label {
	display: flex;
}

.widget-wrapper label * {
	flex-grow: 1;
}
